<!DOCTYPE html>
<html>
  <head>
    <title>Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      .adminfunctions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50%;
        background-color: blue;
      }
      .adminfunctions h2 {
        display: inline;
        color: black;
      }
    </style>
  </head>
  <body>
    {% include 'sidebar.html'%}
  </body>
</html>
