<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h1>Edit Food</h1>
    <form action="/edit_food/" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ id }}">
        <input type="text" name="name" value="{{ name }}">
        <input type="text" name="price" value="{{ price }}">
        <input type="text" name="description" value="{{ description }}">
        <input type="text" name="image" value="{{ image }}">
        <input type="submit" value="Edit">
    </form>
</body>
</html>
