{% extends 'base.html' %} {% block content %}
<!-- Your specific page content goes here -->
<table>
  <thead>
    <tr>
      <th>Exercise Name</th>
      <th>Exercise Type</th>
      <th>Exercise Description</th>
      <th>Calories Burned Per Hour</th>
      <th>Exercise Image</th>
      <th>Added By User</th>
      <th>Uploaded By</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for exercise_data in data %}
    <tr>
      <td>{{ exercise_data.name }}</td>
      <td>{{ exercise_data.type }}</td>
      <td>{{ exercise_data.details }}</td>
      <td>{{ exercise_data.calories_burned_per_hour }}</td>
      {% if exercise_data.image %}
      <td>
        <img
          src="{{ exercise_data.image.url }}"
          alt="exercise_image"
          width="100"
          height="100"
        />
      </td>
      {% else %}
      <td>No Image</td>
      {% endif %}
      <td>{{ exercise_data.added_by_user }}</td>
      <td>{{ exercise_data.uploaded_by }}</td>
      <td>
        <a
          href="{% url 'delete_exercise' exercise_id=exercise_data.exercise_id %}"
          >Delete</a
        >
      </td>

      <td>
        <a href="#">Edit</a>
      </td>
    </tr>

    {% endfor %}
  </tbody>
</table>
{% endblock %}
