<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Foods</title>
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="{% static 'users.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <body>
    {% include 'sidebar.html' %}
    <!-- Table content -->
    <table>
      <thead>
        <tr>
          <th>Food Name</th>
          <th>Description</th>
          <th>Calories per Serving</th>
          <th>Serving Size</th>
          <th>Protein per Serving</th>
          <th>Carbs per Serving</th>
          <th>Fat per Serving</th>
          <th>Added by User</th>

          <th>Image</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for food_data in data %}
        <tr>
          <td>{{ food_data.name }}</td>
          <td>{{ food_data.description }}</td>
          <td>{{ food_data.calories_per_serving }}</td>
          <td>{{ food_data.serving_size }}</td>
          <td>{{ food_data.protein_per_serving }}</td>
          <td>{{ food_data.carbs_per_serving }}</td>
          <td>{{ food_data.fat_per_serving }}</td>
          <td>{{ food_data.added_by_user }}</td>

          {% if food_data.image %}
          <td>
            <img
              src="{{ food_data.image.url }}"
              alt="Image"
              style="width: 100px; height: 100px"
            />
          </td>
          {% else %}
          <td>No Image</td>
          {% endif %}
          <td>
            {% comment %}
            <a href="{% url 'edit_food' item_id=id %}"
              ><i class="fas fa-edit"></i
            ></a>
            {% endcomment %}

            <a href="{% url 'delete_item' item_id=food_data.id %}"
              ><i class="fas fa-trash-alt"></i>
            </a>
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
