.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.profile {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

img {
  display: block;
  margin: 0 auto 20px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

p {
  margin: 10px 0;
  color: #666;
}

.profile-info {
  padding: 0 20px;
}

.profile-info p {
  margin-bottom: 8px;
}

.profile-info p:last-child {
  margin-bottom: 0;
}
